<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Suite">

    <listeners>
        <listener class-name="Utils.ExtentReportListner"/>
    </listeners>
    <test name="API Tests">
        <classes>
            <class name="Stepsdef.Runner"/>
        </classes>
    </test>

</suite>